@model Movie
<h1 class="card-title">@Model.Name</h1>
<div class="card mb-3">
    <div class="row g-1">
        <div class="col-md-6">
            <img src="~/images/movies/@Model.ImgUrl" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <p>@Model.Description</p>
                <p>Price: @Model.Price</p>
                <p>cinema: @Model.cinema.Name</p>
                <p>StartDate: @Model.StartDate</p>
                <p>EndDate: @Model.EndDate</p>
                <p>category: @Model.category.Name</p>
                    <h5>cast :</h5>
                <div class="d-flex flex-wrap">
                    @foreach (var item in ViewBag.actorsmovies)
                    {
                        <a asp-action="#" asp-controller="#" class="me-2">
                            <img src="~/images/cast/@ViewBag.actors[@item.ActorId].ProfilePicture" class="img-fluid" />
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
