@using Microsoft.AspNetCore.Mvc;
@using ETickets.Areas.Admin.ViewModels;
@model MovieVMEdit


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Movie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="examplePhotoUrl" class="form-label">movie image</label>
                <input type="file" class="form-control" id="examplePhotoUrl" name="file" onchange="previewImage(event)">
            </div>
            <div class="mb-3">
                <img id="imagePreview" src="~/images/movies/@Model.ImgUrl" alt="Image Preview" style="width: 200px; height: auto;" />
            </div>

            <div class="form-group">
                <label asp-for="TrailerUrl" class="control-label"></label>
                <input asp-for="TrailerUrl" class="form-control" />
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <input asp-for="ImgUrl" type="hidden" />
            <input asp-for="Id" type="hidden" />

            <div>
                <label for="" class="form-label">Cinema</label>
                <select class="form-select" name="CinemaId">
                    @{
                        foreach (var item in ViewBag.cinemas)
                        {
                            if (Model.CinemaId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                </select> 
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Category</label>
                <select class="form-select" name="CategoryId">
                    @{
                        foreach (var item in ViewBag.categories)
                        {
                            if (Model.CategoryId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                </select>
            </div>
          <div class="mb-3">
                <label for="" class="form-label">actors</label>
                <select class="form-select" name="actorsIds" multiple>
                    @{
                        foreach (var item in ViewBag.actors)
                        {
                            bool isIn = false;
                            foreach (var actor in Model.Actors)
                            {
                                if (actor.Id == item.Id)
                                {
                                    isIn = true;
                                    Model.Actors.Remove(actor);
                                    break;
                                }
                            }
                            if(isIn==true)
                            {
                                <option value="@item.Id" selected>@item.FirstName @item.LastName</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.FirstName @item.LastName</option>
                            }
                        }
                    }
                </select>
            </div> 

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div> 
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function previewImage(event) {
        const reader = new FileReader();
        const imagePreview = document.getElementById('imagePreview');

        reader.onload = function () {
            imagePreview.src = reader.result;
            imagePreview.style.display = 'block'; // Show the image preview
        }

        if (event.target.files[0]) {
            reader.readAsDataURL(event.target.files[0]);
        } else {
            imagePreview.style.display = 'none'; // Hide the preview if no file is selected
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

