@model Movie
<button type="button" class="btn btn-primary" style="background-color:blue" disabled>@Model.MovieStatus</button>


<h1 class="card-title">@Model.Name</h1>
<div class="card mb-3">
    <div class="row g-1">
        <div class="col-md-6">
            <img src="~/images/movies/@Model.ImgUrl" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <p>@Model.Description</p>
                <p>Price: @Model.Price</p>
                <p>cinema: @Model.Cinema.Name</p>
                <p>StartDate: @Model.StartDate</p>
                <p>EndDate: @Model.EndDate</p>
                <p>category: @Model.Category.Name</p>
                <h5>cast :</h5>
                <div class="d-flex flex-wrap mb-3">
                    @foreach (var item in Model.Actors)
                    {
                        <form asp-action="Index" asp-controller="Actors" asp-route-actorname="@item.FirstName @item.LastName" class="me-2" id="actorForm-@item.Id">
                            <input name="Id" value="@item.Id" type="hidden" />
                            <a href="#" onclick="document.getElementById('actorForm-@item.Id').submit();">
                                <img src="~/images/cast/@item.ProfilePicture" class="img-fluid" />
                            </a>
                        </form>

                    }
                </div>
                <h5 class="mb-1"> trailer</h5>
                <div class="mb-2">

                    <iframe width="220" height="150"
                            src="@Model.TrailerUrl">
                    </iframe>
                </div>
                <button type="button" class="btn btn-success">Book ticket</button>
            </div>
        </div>
    </div>
</div>
