@model Movie
@{
    if (Model.MovieStatus == MovieStatus.Upcoming)
    {
        <h4><span class="badge bg-warning">@Model.MovieStatus</span></h4>
    }
    else if (Model.MovieStatus == MovieStatus.Available)
    {
        <h4><span class="badge bg-info">@Model.MovieStatus</span></h4>
    }
    else if (Model.MovieStatus == MovieStatus.Expired)
    {
        <h4><span class="badge bg-danger">@Model.MovieStatus</span></h4>
    }
}

<h1 class="card-title">@Model.Name</h1>
<div class="card mb-3">
    <div class="row g-1">
        <div class="col-md-6">
            <img src="~/images/movies/@Model.ImgUrl" class="img-fluid rounded-start" alt="..." height="670" width="1000">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <p>@Model.Description</p>
                <p>Price: @Model.Price</p>
                <p>cinema: @Model.Cinema.Name</p>
                <p>StartDate: @Model.StartDate</p>
                <p>EndDate: @Model.EndDate</p>
                <p>category: @Model.Category.Name</p>
                <h5>cast :</h5>
                <div class="d-flex flex-wrap mb-3">
                    @foreach (var item in Model.Actors)
                    {
                        <form asp-action="Index" asp-controller="Actors" asp-route-actorname="@item.FirstName @item.LastName" class="me-2" id="actorForm-@item.Id">
                            <input name="Id" value="@item.Id" type="hidden" />
                            <a href="#" onclick="document.getElementById('actorForm-@item.Id').submit();">
                                <img src="~/images/cast/@item.ProfilePicture" class="img-fluid" height="50" width="50" />
                            </a>
                        </form>

                    }
                </div>
                <h5 class="mb-1"> trailer</h5>
                <div class="mb-2">

                    <iframe width="220" height="150"
                            src="@Model.TrailerUrl">
                    </iframe>
                </div>
                @{
                    if (Model.MovieStatus == MovieStatus.Available)
                    {
                        <a asp-action="#" asp-route-id="@Model.Id" class="btn btn-primary " style="background-color:green">book ticket</a>
                    }
                    else if (Model.MovieStatus == MovieStatus.Upcoming)
                    {
                        <a asp-action="#" asp-route-id="@Model.Id" class="btn btn-primary " style="background-color:cornflowerblue ">book ticket</a>
                    }
                    else
                    {
                        <button asp-action="#" asp-route-id="@Model.Id" class="btn btn-secondary" disabled>book ticket</button>
                    }
                }
            </div>
        </div>
    </div>
</div>
