@model IEnumerable<Movie>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        @item.Name
                    </div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/images/movies/@item.ImgUrl" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">Price: @item.Price</p>
                                <p class="card-text">Cinema: @item.Cinema.Name</p>
                                <p class="card-text">StartDate: @item.StartDate</p>
                                <p class="card-text">EndDate: @item.EndDate</p>
                               <p class="card-text">Category: @item.Category.Name</p>
                                <div class="mb-3">
                                    @{
                                        if (item.MovieStatus == MovieStatus.Upcoming)
                                        {
                                            <h4><span class="badge bg-warning">@item.MovieStatus</span></h4>
                                        }
                                        else if (item.MovieStatus == MovieStatus.Available)
                                        {
                                            <h4><span class="badge bg-info">@item.MovieStatus</span></h4>
                                        }
                                        else if (item.MovieStatus == MovieStatus.Expired)
                                        {
                                            <h4><span class="badge bg-danger">@item.MovieStatus</span></h4>
                                        }
                                    }
                                </div>
                                <a asp-action="details" asp-route-id="@item.Id" class="btn btn-primary">Show More...</a>
                                @{
                                    if(item.MovieStatus==MovieStatus.Available )
                                    {
                                        <a asp-action="details" asp-route-id="@item.Id" class="btn btn-primary " style="background-color:green">book ticket</a>
                                    }
                                    else if (item.MovieStatus == MovieStatus.Upcoming)
                                    {
                                        <a asp-action="details" asp-route-id="@item.Id" class="btn btn-primary " style="background-color:cornflowerblue ">book ticket</a>
                                    }
                                    else
                                    {
                                        <button asp-action="details" asp-route-id="@item.Id" class="btn btn-secondary" disabled>book ticket</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
