@model IEnumerable<Movie>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        @item.Name
                    </div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/images/movies/@item.ImgUrl" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">Price: @item.Price</p>
                                <p class="card-text">Cinema: @item.Cinema.Name</p>
                                <p class="card-text">StartDate: @item.StartDate</p>
                                <p class="card-text">EndDate: @item.EndDate</p>
                               <p class="card-text">Category: @item.Category.Name</p>
                                <div class="mb-3">
                                    @{
                                        if (item.MovieStatus == MovieStatus.Upcoming)
                                        {
                                            <button type="button" class="btn btn-primary" style="background-color:darkslategray " disabled>@item.MovieStatus</button>
                                        }
                                        else if (item.MovieStatus == MovieStatus.Available)
                                        {
                                            <button type="button" class="btn btn-primary" style="background-color:blue " disabled>@item.MovieStatus</button>
                                        }
                                        else if (item.MovieStatus == MovieStatus.Expired)
                                        {
                                            <button type="button" class="btn btn-primary" style="background-color:red" disabled>@item.MovieStatus</button>
                                        }
                                    }
                                </div>
                                <a asp-action="details" asp-route-id="@item.Id" class="btn btn-primary">Show More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
